

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --color-white: #fff;
  --color-white-opacity: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-opacity: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

body {
  width: 1440px;
  margin: auto;
  overflow-x: hidden;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  color: var(--color-dark);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.back {
  position: relative;
  background-color: var(--color-light);
}

.back::before {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;
  content: "";
}

.title-image{
  position: relative;
  padding-top: 55px;
  padding-left: 461px;
}

.orange {
  color: var(--color-main);
}
.white {
color: var(--color-light);
}

.title-wrap {
  position: absolute;
  padding-top: 100px;
  padding-left: 165px;
  height: 525px;
}



.text-wrap {
/*position: absolute;*/

  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 165px 189px;
}

.text-left {
  flex-basis: 50%;
}

.text-right {
  flex-basis: 50%;
}

.header-bottom-link {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--color-white);
  font-weight: 700;
  text-decoration: none;

  background-color: var(--color-main);
}

.second-slide {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  text-align: center;
}

.second-slide p {
  text-align: center;
  padding-top: 27px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  padding-top: 30px;
  z-index: 10;
}

.second-footer {
  height: 100px;
  background-color: var(--color-main-dark);
  margin: -84px;
}
#navigator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 165px 165px 100px;
  background-color: var(--color-main-dark);
}
.navigator-slide {
  position: relative;
  width: 350px;
  height: 323px;
  margin-bottom: 20px;
  background-color: var(--color-light);
}

.number-nav {
  position: absolute;
  left: 24px;
  top: 24px;
}

.navigator-slide h2 {
  font-size: 52px;
}
.navigator-slide h1 {
  font-size: 64px;
}
.navigator-slide h3 {
  margin-top: 128px;
  margin-left: 24px;
}
.back-nav-slide {
  background-color: var(--color-main-dark);
}
.navigator-slide p {
  margin: 16px 24px 24px;

}

.container {
  display: flex;
  padding: 100px 165px 0;
  gap: 30px;
  font-family: Neucha, sans-serif;
  font-size: 24px;
}

.ikea-image {
  vertical-align: middle;
}

.line {
  background-color: var(--color-brown);
  margin: 100px 165px 20px 165px ;
}

.line-text {
  padding: 5px 10px 5px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
}

#premature-optimization, back {
  background-color: var(--color-brown);
}

/*#premature-optimization, .container, h1, h3 {*/
/*  color: var(--color-white);*/
/*}*/

#premature-optimization .line {
  background-color: var(--color-white);
}

#premature-optimization .line-text {
  color: var(--color-brown);
}
